.overall{
    margin-top: 60px;
}
.logo2 {
    text-align: center;
    margin-top: 10px;
}
.Sign_up {
    text-align: center;
    margin-top: 5px;
}

.sumit{
    margin-top: 30px;
    text-align: center;
}
