.overall{
    margin-top: 60px;
}
.logo2 {
    text-align: center;
    margin-top: 10px;
}
.Sign_up {
    text-align: center;
    margin-top: 5px;
}

.sumit{
    margin-top: 30px;
    text-align: center;
}
.re{
    background-color: rgb(66, 148, 136)!important;
      border-color: #e6e6e6 !important;
    border-radius: 10px !important;
}