{% extends "base.html" %}


{% block title %}
  发布问答
{% endblock %}

{% block body %}
  <div class="row" style="margin-top: 20px;">
    <div class="col"></div>
    <div class="col-6">
      <h2 class="public1">public a question</h2>
      <form class="layui-form" action="{{ url_for('qa.modified',id = question.id) }}" method="post">
        <div class="layui-form-item">
          <label class="layui-form-label">Title</label>
          <div class="layui-input-block">
            <input type="text" name="title" required lay-verify="required" placeholder="title" autocomplete="off"
                   class="layui-input" value="{{ question.title }}">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">Space</label>
          <div class="layui-input-block">
             {% for a in list %}
            <input type="checkbox" name="{{ a }}" title={{ a }} lay-skin="primary" >
            {% endfor %}
          </div>
        </div>
        <div class="layui-form-item layui-form-text">
          <label class="layui-form-label">content</label>
          <div class="layui-input-block">
            <textarea name="content" placeholder="content" class="layui-textarea">{{ question.content }}</textarea>
          </div>
        </div>
        {% for message in get_flashed_messages() %}
          <div class="form-group">
            <div class="text-danger">{{ message }}
            </div>
          </div>
        {% endfor %}
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">modify</button>
            <button type="reset" class="layui-btn layui-btn-primary">reset</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>

{% endblock %}